.grisClarito { background-color: #f2f6fa; }
.azulClarito { background-color: #009fe3; }
.amarillito { color: #feba02; }
.grisOscurito { color: #666; }
.back_amarillito { background-color: #feba02; }
.back_aquaGreen{ color: #00FFAA; }
.back_mediumGray{ background-color: #86959E; }

 body {
    background-image:url('../img/plumas2_bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    /* overflow: hidden; */
  }

.scroll-y-fixed{
    height: 261px;
    overflow-y: auto;
}

.btn-debug{
   margin-top: 8px;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.centrado{
    color: #d4d10d;
    /* color: #feba02; */
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 59%;
    transform: translate(-50%, -50%);
    font-size: 26px
}